<% layout('layouts/boilerplate')%>
        <h1>All Campgrounds</h1>
        <a href="/campgrounds/new">Add a campground</a>
        <ul>
                <% for(let c of campgrounds) { %>
                        <li>
                                <a href="/campgrounds/<%= c._id %>">
                                        <%= c.title %>
                                </a>
                        </li>
                        <% } %>
        </ul>