<% layout('layouts/boilerplate')%>
        <h1>
                <%= campground.title %>
        </h1>
        <h2>
                <%= campground.location %>
        </h2>
        <a href="/campgrounds/<%= campground._id %>/edit">Edit campground</a>
        <form action="/campgrounds/<%= campground._id %>/delete?_method=DELETE" method="POST">
                <button>Delete</button>
        </form>
        <a href="/campgrounds">Back to Home</a>